/* LandingPage.css */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #512da8;
    color: white;
  }
  
  .header-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .header-button {
    padding: 10px 20px;
    background-color: white;
    color: #512da8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .header-button:hover {
    background-color: #f1f1f1;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    background-color: #eef6fc;
  }
  
  .hero-text {
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .hero-title {
    font-size: 2rem;
    color: #512da8;
  }
  
  .hero-description {
    color: #555;
    margin-top: 10px;
  }
  
  .hero-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #512da8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: #512da8;
  }
  
  .hero-image {
    max-width: 500px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .features {
    padding: 40px;
    text-align: center;
  }
  
  .features-header {
    margin-bottom: 20px;
  }
  
  .features-title {
    font-size: 1.8rem;
    color: #333;
  }
  
  .features-subtitle {
    color: #777;
    margin-top: 5px;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .feature-card {
    background-color: white;
    height: 50vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .feature-title {
    margin-top: 10px;
    font-weight: bold;
    color: #512da8;
  }
  
  .feature-description {
    color: #555;
    margin-top: 5px;
  }
  
  .footer {
    background-color: #512da8;
    color: white;
    padding: 20px 40px;
  }
  
  .footer-content {
    /* display: flex; */
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-socials {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
  